.emoji-list>li {
    padding-left: 10px;
}

.list-pc {
    list-style: "🏫";
}

.list-building {
    list-style: "👨🏻‍💻";
}

.list-time {
    list-style: "🎲";
}

.list-star {
    list-style: "🌟";
}

.list-arrow {
    list-style: "⇀";
}